[buildout]
parts =
    specs
    build-docs
    generate-docs
extra-paths =
    ${buildout:directory}
find-links =
    https://github.com/wewriteapps/pinocchio/tarball/0.2#egg=pinocchio-0.2
    https://github.com/wewriteapps/resolver/tarball/0.2.1#egg=resolver-0.2.1
eggs =
    PyYAML
    beanstalkc
    resolver
versions = versions
unzip = true


[versions]
pinocchio=0.2
resolver=0.2.1


[specs]
recipe =
    pbp.recipe.noserunner
interpreter = python
eggs =
    pbp.recipe.noserunner
    ${buildout:eggs}
    coverage
    figleaf
    flake8
    nose-testconfig
    pinocchio
    unittest2
working-directory =
    ${buildout:directory}
extra-paths =
    ${buildout:extra-paths}
defaults =
    --where specs
    --exe
    --include ^(it|ensure|must|should|specs?|examples?)
    --include (specs?(.py)?|examples?(.py)?)$
    --with-spec
    --spec-color
#    --with-coverage
#    --cover-package=


[build-docs]
recipe =
    collective.recipe.sphinxbuilder
eggs =
    collective.recipe.sphinxbuilder
    sphinx-pyreverse
    sphinxcontrib-mercurial
    sphinxcontrib-napoleon
    ${buildout:eggs}
extra-paths =
    ${buildout:extra-paths}
build = ${buildout:directory}/docs
outputs =
    html


# automatically generates documentation
# after the buildout completes
[generate-docs]
recipe = plone.recipe.command
command = ${buildout:bin-directory}/sphinx-build -b html -a -E -j 2 docs/source docs/html
update-command = command
